<h2>Desenvolvido por Marcelo Medeiros em 26/06/2017</h2>
<p>Tecnologias e conceitos empregados:</p>
<p> - Asp.net Core MVC</p>
<p> - C#</p>
<p> - HTML5</p>
<p> - AngularJS</p>
<p> - Entity Framework</p>
<p> - Ms SQL</p>
<p> - BootStrap</p>
<p> - Dependecy Injection</p>
<p>
    <italic><email address="marcelomedeirosb@gmail.com" content="Contato"></email></italic>
</p>

