@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts {
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.js"></script>
}

<div class="row">
    <div class="text-center">
        <h1>Consultar Pedidos</h1>
        <h3>Função em Desenvolvimento</h3>
    </div>
</div>
